<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Prueba Automatizacion Belcorp">
  <test name="Test Set - RegistroLogin - 05102017">
    <classes>
       <class name="belcorp.test.RegistroLogin.CPA_01_Login_usuario_existente"/>
       <class name="belcorp.test.RegistroLogin.CPA_02_Registro_nuevo_usuario_belcorp"/>
       <class name="belcorp.test.RegistroLogin.CPA_03_Registro_nuevo_usuario_no_belcorp"/>
       <class name="belcorp.test.RegistroLogin.CPA_04_Login_facebook_usuario_no_belcorp"/>
       
    </classes>
  </test>
  <test name="Test Set - MiCuentaOpciones - 05102017">
    <classes>
       <class name="belcorp.test.MiCuentaOpciones.CPA_05_MiCuenta_Mis_Pedidos_Realizados"/>
       <class name="belcorp.test.MiCuentaOpciones.CPA_06_MiCuenta_Cambiar_Contraseña"/>
       <class name="belcorp.test.MiCuentaOpciones.CPA_07_MiCuenta_Agregar_Direccion"/>
       <class name="belcorp.test.MiCuentaOpciones.CPA_08_MiCuenta_Direccion_Predeterminada"/>
    </classes>
  </test>
  
</suite>