<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Prueba Automatizacion Belcorp">
  <test name="Test Set - RegistroLogin - 11102017">
    <classes>
       <class name="belcorp.test.RegistroLogin.CPA_01_Login_usuario_existente"/>
       <class name="belcorp.test.RegistroLogin.CPA_02_Registro_nuevo_usuario_belcorp"/>
       <class name="belcorp.test.RegistroLogin.CPA_03_Registro_nuevo_usuario_no_belcorp"/>
       <class name="belcorp.test.RegistroLogin.CPA_04_Login_facebook_usuario_no_belcorp"/>
       
    </classes>
  </test>

</suite>